{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h5 class="my-3">Your Cart</h5>

    {% if courses_in_cart %}
    <section>
        <div class="container-fluid py-5">
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-lg-10"> <!-- Ensure proper width on smaller screens -->
                    {% for course in courses_in_cart %}
                    <div class="card rounded-3 mb-4 shadow">
                        <div class="card-body p-4">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col-6 col-md-8 col-lg-6"> <!-- Responsive column sizes -->
                                    <p class="fw-normal mb-2">Course</p>
                                    <p><span class="text-muted">{{ course.course_name }}</span></p>
                                    <p> Price: {{ course.price }}</p>
                                </div>
                                <div class="col-3 col-md-2 col-lg-2 text-center"> <!-- Ensure centered text on smaller screens -->
                                    <p class="fw-normal mb-2">Price</p>
                                    <p><span class="text-muted">{{ course.price }}</span></p>
                                </div>
                                <div class="col-3 col-md-2 col-lg-2 text-center"> <!-- Center icons on smaller screens -->
                                    <a href="{% url 'delete_from_cart' course.id %}" class="text-danger"><i class="fas fa-trash fa-lg fs-4"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {% endfor %}
                    <p class="m-4">Total price : {{total_price}}</p>  

                    <div class="card shadow">
                        <div class="card-body text-center"> <!-- Center the checkout button -->
                            <a href="{% url 'checkout' %}" class="btn btn-warning btn-block btn-sm">Proceed to Checkout</a>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% else %}
    <p>Your cart is empty.</p>
    {% endif %}
</div>
{% endblock %}
